@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tooltip {
  @apply absolute invisible opacity-0 transition-opacity duration-300 bg-gray-800 text-white text-sm rounded p-2;
  z-index: 100;
}

.tooltip-content {
  @apply group-hover:visible group-hover:opacity-100;
}
